@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";


@font-face {
  font-family: "PallyReg";
  src: url("/fonts/Pally-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PallyMed";
  src: url("/fonts/Pally-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PallyBold";
  src: url("/fonts/Pally-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "RobotoItalic";
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF8D2;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 15s linear infinite;
}



body {
  background: var(--background);
}
